.navbar{
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 8px 15px 0 rgba(0,0,0,.2);
}
.first-container{
    display: flex;
}
.first-container div{
    display: flex;
}
.offcanvas-header{
    background-color: lightgrey;
    height: 100px;
    color: black;
}
.offcanvas-body{
    background-color: white;
}
.offcanvas-item{
    margin-top: 50px;
}
.offcanvas-link{
    text-decoration: none;
    color: black;
}
.img-nav{
    height: 100%;
}
.btn-nav{
    background-color: white;
    border: 0px;
    display: flex;
    align-items: center !important;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: black;
    font-size: large;
}
.menu-nav{
    display: flex;
    height: 100%;
}
.toggler-navbar{
    display: none;
}
.icono-whatsapp{
    font-size: 50px;
    font-weight: bold;
    color: #19a340;
    display: flex;
    text-decoration: none;
    align-items: center;
    padding-left: 20px;
}
@media (max-width: 900px) {
    .navbar{
          padding-left: 1px;
          padding-right: 1px;
          position: fixed;
          width: 100%;
    }
    .toggler-navbar{
          display: flex;
          background-color: white;
          border-radius: 0% !important;
          border: 0px;
    }
    .btn-nav{
          display: none;
    }
}