section{
    display: flex;
    height: auto;
}
.first-section-texto{
    margin-left: 40px;
    width: 50%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
}
.first-section-img{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    width: 50%;
    overflow: hidden;
}
.first-section-img img{
    max-width:auto;
    height:auto;
}
@media (max-width: 900px) {
    section{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .first-section-img{
        width: 100%;
        height: auto;
        margin: auto;
    }
    .first-section-texto{
        padding-top: 60px;
        width: 70%;
        margin: auto;
    }
}
