<section>
    <div class="third-section">
        <div class="imagen">
            <img class="" src="https://fakeimg.pl/500x500/" alt="">
        </div>
        <div class="texto">
            <h3>Título</h3>
            <br>
            <ul>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus blanditiis optio quasi distinctio ex velit totam dolore quidem</li>
                <br>
                <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, corrupti. Quam quibusdam, nisi error rerum, repudiandae dolore est deleniti similique repellendus quos</li>
                <br>
                <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae beatae eius laborum facilis fugiat in vel, adipisci, magnam praesentium</li>
               </ul>
        </div>
    </div>
</section>