section{
    width: 1200px;
    margin: auto;
}
.third-section{
    display: flex;
    padding-top: 40px;
    align-items: center;
    width: 100%;
}
.imagen{
    display: flex;
    justify-content: right;
    margin-right: 20px;
    width: 50%;
    overflow: hidden;
}
.texto{
    width: 50%;
}
.texto ul{
    width: 80%;
}
.texto ul li{
    padding-bottom: 20px;
}
@media (max-width:900px){
    section{
        width: 100%;
    }
    .third-section{
        flex-direction: column;
        align-items: center;
    }
    .imagen{
        width: 100%;
    }
    .texto{
        width: 90%;
        padding-top: 20px;
    }
    
}
