<section>
    <div class="fourth-section">
        <h1 class="titulo">
            Título
        </h1>
        <div class="imagenes">
            <img src="https://fakeimg.pl/200x200/" alt="">
            <img src="https://fakeimg.pl/200x200/" alt="">
            <img src="https://fakeimg.pl/200x200/" alt="">
        </div>
        <div class="texto">
            <br>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur sapiente temporibus sequi quibusdam et quos sit, voluptate animi numquam mollitia nisi neque, possimus alias nemo cum corrupti, sunt aspernatur explicabo.
            </p>
            <br>
        </div>
    </div>
</section>