section{
    max-width: 1000px;
    padding-top: 20px;
    height: auto;
    margin: auto;
}
.d-block{
    min-height: 400px;
    width: auto;
}
.titulo h3{
    font-size: 50px;
}
@media (max-width: 900px) {
    .carousel{
        display: none;
    }
}